{% extends "layout.html" %}
{% set active_page = "view_h" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block dropdown_messages %}
{{ super() }}
{% endblock %}

{% block dropdown_tasks %}
{{ super() }}
{% endblock %}

{% block dropdown_alerts %}
{{ super() }}
{% endblock %}

{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>IP</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>    
    {% for entry in entries %}
        <tr>
            <td>{{ entry.id }} </td>
            <td>{{ entry.IP }} </td>
            <td>{{ entry.location }} </td>
            {% if entry.status == 0 %}
            <td><a class="btn btn-danger" href="http://{{ entry.IP }}:8006">Offline</a>
            {% elif entry.status == 1 %}
            <td><a class="btn btn-success" href="http://{{ entry.IP }}:8006">Online</a>
            {% elif entry.status == 2 %}
            <td><a class="btn btn-warning" href="http://{{ entry.IP }}:8006">Maintenance</a>
            {% elif entry.status == 3 %}
            <td><a class="btn btn-info" href="http://{{ entry.IP }}:8006">Error</a>
            {% endif %} 
        </tr>
     {% endfor %}
        
    </tbody>
</table>


{% endblock %}


